* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #1e1e1e;
}
main{
    background-color: #161716;
    width: 500px;
    height: 600px;
    margin: auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.384);
    padding: 10px;
    text-align: center;
}

input  {
    font-size: 40px;
    padding: 10px;
    width: 114px;
    background-color: #363736;
    margin-top: 8px;
    margin-right: 2px;
    color: #b1b4b1;
    
}

.numero0 {
    width: 235px;
}

section {
    padding: 10px;
    margin-top: 30px;
    position: sticky;
}
.backspace {
    font-size: 34px;
}

.visor {
    background-color: #f5f5f5;
    width: 450px;
    height: 80px;
    margin-bottom: 8px;
}

h1 {
    margin-right: 350px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #b1b4b1;
}

.img {
    text-align: left;
}